@import "../../styles/spacing.scss";
@import "../../styles/palette.scss";

$color-text-primary: $color-base-light;
$color-background: $color-base-neutral;
$border-radius: 5px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-large;
  background-color: $color-background;
  border-radius: 0 0 $border-radius $border-radius;
  padding: 10px;

  &__title {
    font-size: 2rem;
    color: $color-text-primary;
  }
}