@import "../../styles/spacing.scss";
@import "../../styles/palette.scss";

$color-text-primary: $color-base-light;
$color-background: $color-base-neutral;
$border-radius: 5px;

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  border-bottom: 7px solid #555;
  padding: 10px;
  z-index: 100;
  min-height: 100px;

  &__title {
    font-size: 2rem;
    color: $color-text-primary;
  }

  &__search {
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 70%;
    padding: 0 20px;
  }
}